@tailwind base;
@tailwind components;
@tailwind utilities;

@import "fonts";

html,
body {
  line-height: 1.6;
  font-size: 18px;
  font-family: "Neue Montreal" Helvetica Neue, sans-serif;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
